@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;

}

#canvas-container {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(206, 206, 206); */
}

#page-container {
  display: grid;
  grid-template-columns: [controls] minmax(320px, 500px) [graphcanvas] 1fr [end];
  grid-template-rows: 1fr;
  height: 100vh;
}

#graph-container {
  grid-column-start: graphcanvas;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
  max-height: 100vh;
}

#controls-container {
  z-index: 100;
  grid-column-start: controls;
  grid-column-end: graphcanvas;
  display: grid;
  grid-template-columns: [control-menu] 1fr [control-editor] 3fr [control-end];
  grid-row-start: 1;
  grid-row-end: 2;
  overflow-y: scroll;
}

#controls-editor-container {
  grid-column-start: control-menu;
  grid-column-end: control-end;
}

